@charset "utf-8";
/* CSS Document */
 * {
	box-sizing:border-box;
	margin:0;
	padding:0;
}
body{
	color:#222;
		padding-bottom:0px;
}
.cute{
	top:200px;
	width:190px;
	height:180px;
	position:fixed;
	/*浏览器的绝对定位*/
	background-color:#25B5EE
	
}
.cute img{
	width:190px;
	height:180px;	
}
.cute p{
	margin-top:0px;
	text-align: center;
 display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 26px/1 "Aladin", Helvetica, sans-serif;
  color: rgba(48,48,48,1);
  text-transform: normal;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
}
.enjoy-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  top: 0;
	margin-bottom: 10px;
  padding: 0 22px;
  border: 4px solid rgb(255,255,255);
  font: normal normal bold 20px/50px Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #FFAE00;
}

.enjoy-css:hover {
  color: #FFAE00;
  background: #ffffff;
}

.container{
	max-width:1200px;
	margin: 0 auto;
	
}
.nav{
	position:fixed;
	background-color: #222;
	top:0;
	left:0;
	right:0;
	transition:all 0.3s ease-in-out;
}
.nav .container{
	display:flex;
	justify-content:space-between;
	align-items: center;
	padding:20px 0;
	transition: all 0.3s ease-in-out;
}
.nav u1{
	display:flex;
	list-style-type:none;
	align-items:center;
	justify-content:center;
}
.nav a{
	color:#fff;
	text-decoration: none;
	padding:7px 15px;
	transition:all 0.3s ease-in-out;
}
.nav.active{
	background-color: #FFF;
	box-shadow:0 2px 10px rgba(0,0,0,0.3);
}
.nav.active a{
	color:#000;
}
.nav.active.container{
	padding:10px 0;
}
.nav a.current,
.nav a:hover{
	color:#F40509;
	font-weight:bold;
}
.love{
	margin-top:90px;
	margin-left: 450px;
}
.hero{
	background-image: url("background.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:bottom center;
	height: 100vh;
	color:#fff;
	display:flex;
	justify-content: center;
	align-items:center;
	text-align:center;
	position:relative;
	margin-bottom:0px;
	z-index:-2;
}
.hero h1{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 10px auto;
  border: none;
  font: normal 82px/normal "Anton", Helvetica, sans-serif;
  color: rgb(112, 112, 112);
  text-align: center;
  text-transform: uppercase;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 10px;
  text-shadow: 4px 4px 0 rgb(238,238,238) , 6px 6px 0 rgb(112,112,112) ;
}
.hero p {
	font-size:30px;
	letter-spacing:1px;
}
.content{
	
	background-image: url("background.jpg");
	text-align:center;
	
}
.content h2,
.content h3{
	font-size:150%;
	margin:20px 0 20px;
}
.content p{
	color:#555;
	line-height:30px;
	letter-spacing:1.2px;
}
.retro {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  border: none;
  font: normal 82px/normal "Anton", Helvetica, sans-serif;
  color: rgb(112, 112, 112);
  text-align: center;
  text-transform: uppercase;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 10px;
  text-shadow: 4px 4px 0 rgb(238,238,238) , 6px 6px 0 rgb(112,112,112) ;
}
.button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  font: normal 48px/normal "Warnes", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:hover {
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}