:where([class^="ri-"])::before {
  content: "\f3c2";
}
body {
  font-family: "Noto Sans SC", sans-serif;
  background-color: #f0f7ff;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
